.rmv{
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
  }
  .applyB{
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
  div{
    border: 1px blue solid;
    margin: 2px 0px 10px 0px;
    padding: 3px;
    border-radius: 5px;
  }
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */